<!DOCTYPE html>
<html>

<head>
    <meta charset="uft-8" />
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/styleConfiguration.css">
</head>

<body>
    <div id="general">

        <header id="cabecera">
            <h1>This is the header of the page</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </header>

        <nav id="menu">
            <div id="navegacion">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Community</a></li>
                    <li><a href="">Activities</a></li>
                    <li><a href="">Alumni</a></li>
                    <li><a href="">Configuration</a></li>
                </ul>
            </div>
        </nav>

        <aside id="columna">
            {% block sidebar %}
            {% endblock sidebar%}
        </aside>

        <section id="principal">
            {% block content %}
            {% endblock content %}
        </section>

        <footer id="pie">

        </footer>
    </div>
</body>

</html>