{% extends "base.html" %}
<head>
        <meta charset="uft-8" />
        <link rel="stylesheet" type="text/css" href="/static/styleConfiguration.css"> 
</head>

{% block content %}
    <div id="profileForm">
        <form method="POST" action="{{ url_for('createProfile') }}">
            {{ form.name }}
            <input type='submit' action='submit'>
        </form>
    </div>
{% endblock %}

{% block sidebar %}
    <div id="configMenu">
        <ul>
            <li><a href="">User </a>
                <ul>
                    <li><a href=""> All Users</a></li>
                    <li><a href=""> New User </a></li>
                </ul>
            </li>
            <li><a href=""> Profile </a>
                <ul>
                    <li><a href=""> All Profiles </a></li>
                    <li><a href=""> New Profile </a></li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock sidebar %}}

