<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8"/>
</head>
<body>
    <div id="general">
        <header>
            <h1>This is the header of the page</h1>
        </header>
        <nav id="menu">
            <ul>
                <li>Home</li>
                <li>Community</li>
                <li>Activities</li>
                <li>Alumni</li>
            </ul>
        </nav>
        <section id="section">
            <article id="article1">
                <header>
                    <div id="header1">

                    </div>
                </header>
                <footer>

                </footer>
            </article>
            <article id="article2">
                <header>
                    <div id="header2">

                    </div>
                </header>
                <footer>

                </footer>
            </article>
        </section>
        <aside>

        </aside>
        <footer>

        </footer>
    </div>
</body>

</html>